.__form {
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
    width: 350px;
    height: 100px;
}

.__responseform {
    display: block;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 12px;
    margin: 15px;
}
.__responseform label p {
    margin: 0;
    padding: 0;
}

.__responseform label input {
    width: 100px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.__responseform_content {
    margin-bottom: 10px;
}

.__button {
    margin-left: 20px;
}