<% if (success_response !== "") {%>
    <% success_response.forEach((item) => {%>
        <div class="response_alert_error response_error">
          Opa => <%- success_response['cep'] %>
        </div>
    <%})%>
<%}%>